@use "../util/" as u;
h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}
h1 {
  // to convert to VW => 28 / 375 = 0.074666 => 7.5 vw
  font-size: clamp(28px, 16px + 2vw, 40px);
  // clamp param(min value, preferred value, max value)
}
p {
  margin-top: 0;
}

// to remove underline
a,
a:visited,
a:active {
  text-decoration: none;
}
