@use "../util" as u;

// sass placeholder
%widget {
  padding: u.rem(16);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: u.rem(40);
  max-width: u.rem(1000);
  margin-inline: auto;
  padding-left: u.rem(20);
  padding-right: u.rem(20);

  // @media (min-width: 900px)
  @include u.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    padding-left: 0;
    padding-right: 0;
  }

  &__main,
  &__sidebar {
    padding: u.rem(40);
  }

  &__main {
    background-color: blue;
  }
  &__sidebar {
    @include u.breakpoint-down(medium) {
      text-align: center;
    }
  }
  &__widget {
    &--magenta {
      @extend %widget;
      background-color: magenta;
    }
    &--green {
      @extend %widget;
      background-color: green;
    }
  }
}
